<ion-header>
  <ion-toolbar class="tod">
    <ion-button class="you" id="backButton" slot="start" fill="clear" [routerLink]="['/login']">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioRegistro">
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input formControlName="usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input formControlName="confirmarPassword" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input formControlName="apellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Rut (sin puntos)</ion-label>
          <ion-input formControlName="rut"></ion-input>
        </ion-item>
    
      <br>
      
    </form>
    <ion-item>
      <ion-select (ionChange)="cargarComuna()" [(ngModel)]="regionSel"  label="Region" placeholder="Seleccione">
        <ion-select-option *ngFor="let i of regiones" [value]="i.id">{{i.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select [disabled]="seleccionComuna" [(ngModel)]="regionSel"  label="Comuna" placeholder="Seleccione">
        <ion-select-option *ngFor="let i of comunas" [value]="i.id">{{i.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button class="tod" (click)="guardar()">
      Registrarse
    </ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>
