<ion-header>
  <ion-toolbar class="tod">
    <ion-button class="you" id="backButton" slot="end" fill="clear" (click)="cerrarSesion()">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-button>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div>Bienvenido</div>
  <h5>{{nombre}}</h5>
  <h5>{{rut}}</h5>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button class="tod" (click)="scan()" expand="block">
          Escanear QR
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  
  
</ion-content>
