div{
    font-size: 60px;
    color: rgb(252,183,54,255);
    margin: 25px;
    text-align: center;
}
h5{
    font-size: 25px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#backButton{
    color: rgb(0, 0, 0);
}

  
  
